:root {
    --h1: 7.594rem; 
    --h3: 4rem;
    --h5: 2rem;


    --white: #FFFFFF; /*Dark mode font color*/
    --light: #DEE4E7; /*Card color for light mode*/
    --black: #000000; /*Light mode font color*/
    --dark: #222222; /*Card color for dark mode*/


    


}

